<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true">
    <coverage includeUncoveredFiles="true"
              pathCoverage="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="tests/_output" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">controllers</directory>
            <directory suffix=".php">core</directory>
            <directory suffix=".php">db</directory>
            <directory suffix=".php">dtos</directory>
            <directory suffix=".php">models</directory>
            <directory suffix=".php">services</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>